# WTI 데이터 생성

In [1]:
import os
import pickle
import numpy as np
import pandas as pd
from IPython.display import display
from tqdm import tqdm
tqdm.pandas()

import matplotlib.pyplot as plt
import seaborn as sns
plt.rc('font', family='AppleGothic')
plt.rc('axes', unicode_minus=False)

import warnings
warnings.filterwarnings('ignore')

In [2]:
wti = pd.read_csv('../data/WTI유 선물 과거 데이터.csv')
wti

               날짜      종가      시가      고가      저가    거래량     변동 %
0    2022- 01- 01   88.15   75.69   88.84   74.27  7.52M   17.21%
1    2021- 12- 01   75.21   67.01   77.44   62.43  7.40M   13.64%
2    2021- 11- 01   66.18   83.36   84.97   64.43  9.44M  -20.81%
3    2021- 10- 01   83.57   75.12   85.41   74.23  9.22M   11.38%
4    2021- 09- 01   75.03   68.55   76.67   67.12  7.75M    9.53%
..            ...     ...     ...     ...     ...    ...      ...
116  2012- 05- 01   86.53  104.89  106.43   85.86  5.81M  -17.49%
117  2012- 04- 01  104.87  103.27  105.49  100.68  4.48M    1.80%
118  2012- 03- 01  103.02  106.82  110.55  102.13  5.74M   -3.78%
119  2012- 02- 01  107.07   98.38  109.95   95.44  5.54M    8.72%
120  2012- 01- 01   98.48   99.70  103.74   97.40  5.41M   -0.35%

[121 rows x 7 columns]

In [3]:
wti = wti[['날짜', '종가']]
wti['날짜'] = pd.to_datetime(wti['날짜'])
wti.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      121 non-null    datetime64[ns]
 1   종가      121 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 2.0 KB

In [4]:
# 연도별 종가 평균
wti['연도'] = wti['날짜'].dt.year
wti_year_mean = {}
for i in wti['연도'].unique():
    wti_year_mean[i] = wti[wti['연도'] == i]['종가'].mean()
wti_year_mean

{2022: 88.15,
 2021: 68.22250000000001,
 2020: 38.59583333333333,
 2019: 57.09916666666666,
 2018: 64.54416666666667,
 2017: 51.86499999999999,
 2016: 44.468333333333334,
 2015: 49.307500000000005,
 2014: 91.2275,
 2013: 97.6075,
 2012: 94.05166666666666}

In [5]:
df = pd.DataFrame(wti_year_mean.values(), wti_year_mean.keys(), columns=['WTI'])
df = df.reset_index()
df.rename(columns={'index':'year'}, inplace=True)
df

    year        WTI
0   2022  88.150000
1   2021  68.222500
2   2020  38.595833
3   2019  57.099167
4   2018  64.544167
5   2017  51.865000
6   2016  44.468333
7   2015  49.307500
8   2014  91.227500
9   2013  97.607500
10  2012  94.051667

In [6]:
# 저장
df.to_csv('../data/WTI.csv', index=False)