# FM model > base

In [1]:
import pandas as pd
import numpy as np
from sklearn.utils import shuffle
from sklearn.metrics import roc_auc_score

# data

In [2]:
# country를 index로 바꾼 pickle 파일을 불러오기.
import pickle
with open('../processed/country_to_idx.pkl', 'rb') as f:
    country_to_idx = pickle.load(f)

with open('../processed/idx_to_country.pkl', 'rb') as f:
    idx_to_country = pickle.load(f)

In [3]:
merge_all = pd.read_csv('../processed/export_diff_label.csv')
merge_all

,year,country,품목코드,수출금액,GDP,preference,GDP_growth,population,pop_growth,USD,JPY,EUR,CNY,WTI,label
0,2012,Afghanistan,3.0,1.0,20203572.96,4.949620e-08,NaN,30466479.0,NaN,1126.43,1412.96,1447.58,178.52,94.051667,0
1,2012,Afghanistan,4.0,0.0,20203572.96,0.000000e+00,NaN,30466479.0,NaN,1126.43,1412.96,1447.58,178.52,94.051667,0
2,2012,Afghanistan,7.0,2.0,20203572.96,9.899239e-08,NaN,30466479.0,NaN,1126.43,1412.96,1447.58,178.52,94.051667,0
3,2012,Afghanistan,8.0,0.0,20203572.96,0.000000e+00,NaN,30466479.0,NaN,1126.43,1412.96,1447.58,178.52,94.051667,0
4,2012,Afghanistan,10.0,12.0,20203572.96,5.939543e-07,NaN,30466479.0,NaN,1126.43,1412.96,1447.58,178.52,94.051667,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128388,2022,Zimbabwe,90.0,299.0,NaN,NaN,NaN,NaN,NaN,1293.68,985.24,1359.46,191.73,88.150000,0
128389,2022,Zimbabwe,94.0,21.0,NaN,NaN,NaN,NaN,NaN,1293.68,985.24,1359.46,191.73,88.150000,0
128390,2022,Zimbabwe,95.0,2.0,NaN,NaN,NaN,NaN,NaN,1293.68,985.24,1359.46,191.73,88.150000,0
128391,2022,Zimbabwe,96.0,0.0,NaN,NaN,NaN,NaN,NaN,1293.68,985.24,1359.46,191.73,88.150000,0
128392,2022,Zimbabwe,97.0,0.0,NaN,NaN,NaN,NaN,NaN,1293.68,985.24,1359.46,191.73,88.150000,0

In [4]:
# country_id를 고유번호로 바꾸기
merge_all['country'] = merge_all['country'].map(country_to_idx)
merge_all

,year,country,품목코드,수출금액,GDP,preference,GDP_growth,population,pop_growth,USD,JPY,EUR,CNY,WTI,label
0,2012,0,3.0,1.0,20203572.96,4.949620e-08,NaN,30466479.0,NaN,1126.43,1412.96,1447.58,178.52,94.051667,0
1,2012,0,4.0,0.0,20203572.96,0.000000e+00,NaN,30466479.0,NaN,1126.43,1412.96,1447.58,178.52,94.051667,0
2,2012,0,7.0,2.0,20203572.96,9.899239e-08,NaN,30466479.0,NaN,1126.43,1412.96,1447.58,178.52,94.051667,0
3,2012,0,8.0,0.0,20203572.96,0.000000e+00,NaN,30466479.0,NaN,1126.43,1412.96,1447.58,178.52,94.051667,0
4,2012,0,10.0,12.0,20203572.96,5.939543e-07,NaN,30466479.0,NaN,1126.43,1412.96,1447.58,178.52,94.051667,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128388,2022,202,90.0,299.0,NaN,NaN,NaN,NaN,NaN,1293.68,985.24,1359.46,191.73,88.150000,0
128389,2022,202,94.0,21.0,NaN,NaN,NaN,NaN,NaN,1293.68,985.24,1359.46,191.73,88.150000,0
128390,2022,202,95.0,2.0,NaN,NaN,NaN,NaN,NaN,1293.68,985.24,1359.46,191.73,88.150000,0
128391,2022,202,96.0,0.0,NaN,NaN,NaN,NaN,NaN,1293.68,985.24,1359.46,191.73,88.150000,0
128392,2022,202,97.0,0.0,NaN,NaN,NaN,NaN,NaN,1293.68,985.24,1359.46,191.73,88.150000,0

In [5]:
with open('../processed/export_GDP_pop_fx_wti.pkl', 'rb') as f:
    data = pd.read_pickle(f)

In [6]:
data

,year,country,품목코드,수출금액,GDP,preference,GDP_growth,population,pop_growth,USD,JPY,EUR,CNY,WTI
0,2012,Afghanistan,3.0,1.0,20203572.96,4.949620e-08,NaN,30466479.0,NaN,1126.43,1412.96,1447.58,178.52,94.051667
1,2012,Afghanistan,4.0,0.0,20203572.96,0.000000e+00,NaN,30466479.0,NaN,1126.43,1412.96,1447.58,178.52,94.051667
2,2012,Afghanistan,7.0,2.0,20203572.96,9.899239e-08,NaN,30466479.0,NaN,1126.43,1412.96,1447.58,178.52,94.051667
3,2012,Afghanistan,8.0,0.0,20203572.96,0.000000e+00,NaN,30466479.0,NaN,1126.43,1412.96,1447.58,178.52,94.051667
4,2012,Afghanistan,10.0,12.0,20203572.96,5.939543e-07,NaN,30466479.0,NaN,1126.43,1412.96,1447.58,178.52,94.051667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128388,2022,Zimbabwe,90.0,299.0,NaN,NaN,NaN,NaN,NaN,1293.68,985.24,1359.46,191.73,88.150000
128389,2022,Zimbabwe,94.0,21.0,NaN,NaN,NaN,NaN,NaN,1293.68,985.24,1359.46,191.73,88.150000
128390,2022,Zimbabwe,95.0,2.0,NaN,NaN,NaN,NaN,NaN,1293.68,985.24,1359.46,191.73,88.150000
128391,2022,Zimbabwe,96.0,0.0,NaN,NaN,NaN,NaN,NaN,1293.68,985.24,1359.46,191.73,88.150000
128392,2022,Zimbabwe,97.0,0.0,NaN,NaN,NaN,NaN,NaN,1293.68,985.24,1359.46,191.73,88.150000

In [7]:
# country_id를 고유번호로 바꾸기
data['country'] = data['country'].map(country_to_idx)
data

,year,country,품목코드,수출금액,GDP,preference,GDP_growth,population,pop_growth,USD,JPY,EUR,CNY,WTI
0,2012,0,3.0,1.0,20203572.96,4.949620e-08,NaN,30466479.0,NaN,1126.43,1412.96,1447.58,178.52,94.051667
1,2012,0,4.0,0.0,20203572.96,0.000000e+00,NaN,30466479.0,NaN,1126.43,1412.96,1447.58,178.52,94.051667
2,2012,0,7.0,2.0,20203572.96,9.899239e-08,NaN,30466479.0,NaN,1126.43,1412.96,1447.58,178.52,94.051667
3,2012,0,8.0,0.0,20203572.96,0.000000e+00,NaN,30466479.0,NaN,1126.43,1412.96,1447.58,178.52,94.051667
4,2012,0,10.0,12.0,20203572.96,5.939543e-07,NaN,30466479.0,NaN,1126.43,1412.96,1447.58,178.52,94.051667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128388,2022,202,90.0,299.0,NaN,NaN,NaN,NaN,NaN,1293.68,985.24,1359.46,191.73,88.150000
128389,2022,202,94.0,21.0,NaN,NaN,NaN,NaN,NaN,1293.68,985.24,1359.46,191.73,88.150000
128390,2022,202,95.0,2.0,NaN,NaN,NaN,NaN,NaN,1293.68,985.24,1359.46,191.73,88.150000
128391,2022,202,96.0,0.0,NaN,NaN,NaN,NaN,NaN,1293.68,985.24,1359.46,191.73,88.150000
128392,2022,202,97.0,0.0,NaN,NaN,NaN,NaN,NaN,1293.68,985.24,1359.46,191.73,88.150000

In [8]:
# 2012년도는 growth를 보기 힘드므로 제외
data = data[data['year'] != 2012]
data.rename(columns={'품목코드':'item_id'}, inplace=True)
data.head(3)

/var/folders/bz/yk1btxt17y920gj06j1__cy00000gn/T/ipykernel_41614/3420230340.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.rename(columns={'품목코드':'item_id'}, inplace=True)

,year,country,item_id,수출금액,GDP,preference,GDP_growth,population,pop_growth,USD,JPY,EUR,CNY,WTI
11026,2013,0,10.0,1.0,2.056449e+07,4.862752e-08,0.017864,31541209.0,0.035276,1094.97,1123.73,1453.47,178.11,97.6075
11027,2013,0,16.0,13.0,2.056449e+07,6.321578e-07,0.017864,31541209.0,0.035276,1094.97,1123.73,1453.47,178.11,97.6075
11028,2013,0,19.0,37.0,2.056449e+07,1.799218e-06,0.017864,31541209.0,0.035276,1094.97,1123.73,1453.47,178.11,97.6075

In [9]:
merge_all.head(3)

,year,country,품목코드,수출금액,GDP,preference,GDP_growth,population,pop_growth,USD,JPY,EUR,CNY,WTI,label
0,2012,0,3.0,1.0,20203572.96,4.949620e-08,NaN,30466479.0,NaN,1126.43,1412.96,1447.58,178.52,94.051667,0
1,2012,0,4.0,0.0,20203572.96,0.000000e+00,NaN,30466479.0,NaN,1126.43,1412.96,1447.58,178.52,94.051667,0
2,2012,0,7.0,2.0,20203572.96,9.899239e-08,NaN,30466479.0,NaN,1126.43,1412.96,1447.58,178.52,94.051667,0

In [10]:
merge_all.rename(columns={'country_id':'country'}, inplace=True)
merge_all.rename(columns={'품목코드':'item_id'}, inplace=True)

In [11]:
ratings = pd.merge(data, merge_all[['country','year','item_id','label']], how='left', on=['country','year','item_id'])
ratings

,year,country,item_id,수출금액,GDP,preference,GDP_growth,population,pop_growth,USD,JPY,EUR,CNY,WTI,label
0,2013,0,10.0,1.0,2.056449e+07,4.862752e-08,0.017864,31541209.0,0.035276,1094.97,1123.73,1453.47,178.11,97.6075,1
1,2013,0,16.0,13.0,2.056449e+07,6.321578e-07,0.017864,31541209.0,0.035276,1094.97,1123.73,1453.47,178.11,97.6075,1
2,2013,0,19.0,37.0,2.056449e+07,1.799218e-06,0.017864,31541209.0,0.035276,1094.97,1123.73,1453.47,178.11,97.6075,0
3,2013,0,20.0,1.0,2.056449e+07,4.862752e-08,0.017864,31541209.0,0.035276,1094.97,1123.73,1453.47,178.11,97.6075,1
4,2013,0,21.0,142.0,2.056449e+07,6.905108e-06,0.017864,31541209.0,0.035276,1094.97,1123.73,1453.47,178.11,97.6075,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117362,2022,202,90.0,299.0,NaN,NaN,NaN,NaN,NaN,1293.68,985.24,1359.46,191.73,88.1500,0
117363,2022,202,94.0,21.0,NaN,NaN,NaN,NaN,NaN,1293.68,985.24,1359.46,191.73,88.1500,0
117364,2022,202,95.0,2.0,NaN,NaN,NaN,NaN,NaN,1293.68,985.24,1359.46,191.73,88.1500,0
117365,2022,202,96.0,0.0,NaN,NaN,NaN,NaN,NaN,1293.68,985.24,1359.46,191.73,88.1500,0
117366,2022,202,97.0,0.0,NaN,NaN,NaN,NaN,NaN,1293.68,985.24,1359.46,191.73,88.1500,0

In [13]:
# USD만 냅두고 나머지 FX들은 제거하기
ratings=ratings[['year','country','item_id','GDP','preference','GDP_growth','population','pop_growth','label']]
ratings.describe()

,year,country,item_id,GDP,preference,GDP_growth,population,pop_growth,label
count,117367.000000,117367.000000,117367.000000,1.053690e+05,1.053690e+05,105369.000000,1.053690e+05,105369.000000,117367.000000
mean,2017.559058,103.884175,50.803343,6.404606e+08,1.920689e-04,0.038022,5.480439e+07,0.011590,0.363756
std,2.868819,57.699984,27.364460,2.209886e+09,3.325642e-03,0.295688,1.777078e+08,0.013928,0.481082
min,2013.000000,0.000000,1.000000,3.681166e+04,0.000000e+00,-0.999033,1.069400e+04,-0.041673,0.000000
25%,2015.000000,55.000000,28.000000,1.898180e+07,3.418803e-08,-0.016736,4.026336e+06,0.002953,0.000000
50%,2018.000000,102.000000,51.000000,7.893026e+07,1.385968e-06,0.037601,1.075468e+07,0.010646,0.000000
75%,2020.000000,151.000000,73.000000,3.750000e+08,1.713603e-05,0.088785,3.801174e+07,0.019160,1.000000
max,2022.000000,202.000000,99.000000,2.330000e+10,3.165603e-01,8.974569,1.412360e+09,0.225784,1.000000

In [14]:
# population min-max 정규화
ratings['population'] = (ratings['population'] - ratings['population'].min()) / (ratings['population'].max() - ratings['population'].min())
# GDP min-max 정규화
ratings['GDP'] = (ratings['GDP'] - ratings['GDP'].min()) / (ratings['GDP'].max() - ratings['GDP'].min())
ratings

,year,country,item_id,GDP,preference,GDP_growth,population,pop_growth,label
0,2013,0,10.0,0.000881,4.862752e-08,0.017864,0.022325,0.035276,1
1,2013,0,16.0,0.000881,6.321578e-07,0.017864,0.022325,0.035276,1
2,2013,0,19.0,0.000881,1.799218e-06,0.017864,0.022325,0.035276,0
3,2013,0,20.0,0.000881,4.862752e-08,0.017864,0.022325,0.035276,1
4,2013,0,21.0,0.000881,6.905108e-06,0.017864,0.022325,0.035276,1
...,...,...,...,...,...,...,...,...,...
117362,2022,202,90.0,NaN,NaN,NaN,NaN,NaN,0
117363,2022,202,94.0,NaN,NaN,NaN,NaN,NaN,0
117364,2022,202,95.0,NaN,NaN,NaN,NaN,NaN,0
117365,2022,202,96.0,NaN,NaN,NaN,NaN,NaN,0
117366,2022,202,97.0,NaN,NaN,NaN,NaN,NaN,0

In [15]:
ratings.describe()

,year,country,item_id,GDP,preference,GDP_growth,population,pop_growth,label
count,117367.000000,117367.000000,117367.000000,105369.000000,1.053690e+05,105369.000000,105369.000000,105369.000000,117367.000000
mean,2017.559058,103.884175,50.803343,0.027486,1.920689e-04,0.038022,0.038796,0.011590,0.363756
std,2.868819,57.699984,27.364460,0.094845,3.325642e-03,0.295688,0.125824,0.013928,0.481082
min,2013.000000,0.000000,1.000000,0.000000,0.000000e+00,-0.999033,0.000000,-0.041673,0.000000
25%,2015.000000,55.000000,28.000000,0.000813,3.418803e-08,-0.016736,0.002843,0.002953,0.000000
50%,2018.000000,102.000000,51.000000,0.003386,1.385968e-06,0.037601,0.007607,0.010646,0.000000
75%,2020.000000,151.000000,73.000000,0.016093,1.713603e-05,0.088785,0.026906,0.019160,1.000000
max,2022.000000,202.000000,99.000000,1.000000,3.165603e-01,8.974569,1.000000,0.225784,1.000000

In [16]:
ratings.rename(columns={'country':'country_id'}, inplace=True)

In [17]:
ratings

,year,country_id,item_id,GDP,preference,GDP_growth,population,pop_growth,label
0,2013,0,10.0,0.000881,4.862752e-08,0.017864,0.022325,0.035276,1
1,2013,0,16.0,0.000881,6.321578e-07,0.017864,0.022325,0.035276,1
2,2013,0,19.0,0.000881,1.799218e-06,0.017864,0.022325,0.035276,0
3,2013,0,20.0,0.000881,4.862752e-08,0.017864,0.022325,0.035276,1
4,2013,0,21.0,0.000881,6.905108e-06,0.017864,0.022325,0.035276,1
...,...,...,...,...,...,...,...,...,...
117362,2022,202,90.0,NaN,NaN,NaN,NaN,NaN,0
117363,2022,202,94.0,NaN,NaN,NaN,NaN,NaN,0
117364,2022,202,95.0,NaN,NaN,NaN,NaN,NaN,0
117365,2022,202,96.0,NaN,NaN,NaN,NaN,NaN,0
117366,2022,202,97.0,NaN,NaN,NaN,NaN,NaN,0

In [18]:
ratings = ratings.query('year < 2022')
ratings

,year,country_id,item_id,GDP,preference,GDP_growth,population,pop_growth,label
0,2013,0,10.0,0.000881,4.862752e-08,0.017864,0.022325,0.035276,1
1,2013,0,16.0,0.000881,6.321578e-07,0.017864,0.022325,0.035276,1
2,2013,0,19.0,0.000881,1.799218e-06,0.017864,0.022325,0.035276,0
3,2013,0,20.0,0.000881,4.862752e-08,0.017864,0.022325,0.035276,1
4,2013,0,21.0,0.000881,6.905108e-06,0.017864,0.022325,0.035276,1
...,...,...,...,...,...,...,...,...,...
105364,2021,202,87.0,0.001216,4.543334e-05,0.318998,0.011316,0.020668,1
105365,2021,202,90.0,0.001216,1.134952e-05,0.318998,0.011316,0.020668,0
105366,2021,202,94.0,0.001216,3.524696e-08,0.318998,0.011316,0.020668,1
105367,2021,202,95.0,0.001216,4.582105e-07,0.318998,0.011316,0.020668,0
105368,2021,202,96.0,0.001216,6.696923e-07,0.318998,0.011316,0.020668,0

In [19]:
ratings.isnull().sum()

year          0
country_id    0
item_id       0
GDP           0
preference    0
GDP_growth    0
population    0
pop_growth    0
label         0
dtype: int64

## test > CF에서 가져온 것들

In [20]:
test_set = pd.read_csv('../processed/test12_18_new.csv')
test_set

       country_id  year  item_id  GDP_growth  pop_growth    preference
0               0  2012      1.0         NaN         NaN  8.676877e-07
1               0  2012      2.0         NaN         NaN  4.316267e-06
2               0  2012      4.0         NaN         NaN  1.464146e-06
3               0  2012      5.0         NaN         NaN  1.516132e-06
4               0  2012      6.0         NaN         NaN  1.241186e-06
...           ...   ...      ...         ...         ...           ...
69793         202  2018     89.0    0.942353    0.020411  1.069936e-05
69794         202  2018     91.0    0.942353    0.020411  7.333262e-07
69795         202  2018     92.0    0.942353    0.020411  6.773078e-07
69796         202  2018     97.0    0.942353    0.020411  7.280952e-10
69797         202  2018     99.0    0.942353    0.020411  0.000000e+00

[69798 rows x 6 columns]

In [21]:
test_set = test_set[test_set.year != 2012]
test_set

       country_id  year  item_id  GDP_growth  pop_growth    preference
56              0  2013      1.0    0.017864    0.035276  1.730195e-08
57              0  2013      2.0    0.017864    0.035276  1.115475e-07
58              0  2013      3.0    0.017864    0.035276  1.524764e-05
59              0  2013      4.0    0.017864    0.035276  3.985107e-07
60              0  2013      5.0    0.017864    0.035276  1.581240e-07
...           ...   ...      ...         ...         ...           ...
69793         202  2018     89.0    0.942353    0.020411  1.069936e-05
69794         202  2018     91.0    0.942353    0.020411  7.333262e-07
69795         202  2018     92.0    0.942353    0.020411  6.773078e-07
69796         202  2018     97.0    0.942353    0.020411  7.280952e-10
69797         202  2018     99.0    0.942353    0.020411  0.000000e+00

[59474 rows x 6 columns]

In [22]:
# data 합치기
ratings = pd.concat([ratings, test_set])
ratings.reset_index(drop=True, inplace=True)
ratings

,year,country_id,item_id,GDP,preference,GDP_growth,population,pop_growth,label
0,2013,0,10.0,0.000881,4.862752e-08,0.017864,0.022325,0.035276,1.0
1,2013,0,16.0,0.000881,6.321578e-07,0.017864,0.022325,0.035276,1.0
2,2013,0,19.0,0.000881,1.799218e-06,0.017864,0.022325,0.035276,0.0
3,2013,0,20.0,0.000881,4.862752e-08,0.017864,0.022325,0.035276,1.0
4,2013,0,21.0,0.000881,6.905108e-06,0.017864,0.022325,0.035276,1.0
...,...,...,...,...,...,...,...,...,...
164838,2018,202,89.0,NaN,1.069936e-05,0.942353,NaN,0.020411,NaN
164839,2018,202,91.0,NaN,7.333262e-07,0.942353,NaN,0.020411,NaN
164840,2018,202,92.0,NaN,6.773078e-07,0.942353,NaN,0.020411,NaN
164841,2018,202,97.0,NaN,7.280952e-10,0.942353,NaN,0.020411,NaN
164842,2018,202,99.0,NaN,0.000000e+00,0.942353,NaN,0.020411,NaN

In [24]:
from tqdm import tqdm

#gdp 채워넣기
for i in tqdm(range(2013,2019)):
    for j in range(len(ratings['country_id'].unique())):
        if i != 2013 and j in [133,134]:
            pass
        else:
            GDP_value = list(ratings.loc[(ratings['year']== i) & (ratings['country_id']==j) & (ratings['GDP'].notnull())].GDP)[0]
            ratings.loc[(ratings['year']== i) & (ratings['country_id']==j) & (ratings['GDP'].isnull()), 'GDP'] = GDP_value

100%|██████████| 6/6 [00:00<00:00,  7.30it/s]

In [25]:
# 년도와, country_id와가 일치하면 population 채워 넣기
for i in tqdm(range(2013,2019)):
    for j in range(len(ratings['country_id'].unique())):
        if i != 2013 and j in [133,134]:
            pass
        else:
            population = list(ratings.loc[(ratings['year']== i) & (ratings['country_id']==j) & (ratings['population'].notnull())].population)[0]
            ratings.loc[(ratings['year']== i) & (ratings['country_id']==j) & (ratings['population'].isnull()), 'population'] = population

100%|██████████| 6/6 [00:00<00:00,  7.31it/s]

In [26]:
ratings

,year,country_id,item_id,GDP,preference,GDP_growth,population,pop_growth,label
0,2013,0,10.0,0.000881,4.862752e-08,0.017864,0.022325,0.035276,1.0
1,2013,0,16.0,0.000881,6.321578e-07,0.017864,0.022325,0.035276,1.0
2,2013,0,19.0,0.000881,1.799218e-06,0.017864,0.022325,0.035276,0.0
3,2013,0,20.0,0.000881,4.862752e-08,0.017864,0.022325,0.035276,1.0
4,2013,0,21.0,0.000881,6.905108e-06,0.017864,0.022325,0.035276,1.0
...,...,...,...,...,...,...,...,...,...
164838,2018,202,89.0,0.001464,1.069936e-05,0.942353,0.010650,0.020411,NaN
164839,2018,202,91.0,0.001464,7.333262e-07,0.942353,0.010650,0.020411,NaN
164840,2018,202,92.0,0.001464,6.773078e-07,0.942353,0.010650,0.020411,NaN
164841,2018,202,97.0,0.001464,7.280952e-10,0.942353,0.010650,0.020411,NaN
164842,2018,202,99.0,0.001464,0.000000e+00,0.942353,0.010650,0.020411,NaN

In [27]:
ratings.isnull().sum()

year              0
country_id        0
item_id           0
GDP               0
preference        0
GDP_growth        0
population        0
pop_growth        0
label         59474
dtype: int64

In [28]:
ratings

,year,country_id,item_id,GDP,preference,GDP_growth,population,pop_growth,label
0,2013,0,10.0,0.000881,4.862752e-08,0.017864,0.022325,0.035276,1.0
1,2013,0,16.0,0.000881,6.321578e-07,0.017864,0.022325,0.035276,1.0
2,2013,0,19.0,0.000881,1.799218e-06,0.017864,0.022325,0.035276,0.0
3,2013,0,20.0,0.000881,4.862752e-08,0.017864,0.022325,0.035276,1.0
4,2013,0,21.0,0.000881,6.905108e-06,0.017864,0.022325,0.035276,1.0
...,...,...,...,...,...,...,...,...,...
164838,2018,202,89.0,0.001464,1.069936e-05,0.942353,0.010650,0.020411,NaN
164839,2018,202,91.0,0.001464,7.333262e-07,0.942353,0.010650,0.020411,NaN
164840,2018,202,92.0,0.001464,6.773078e-07,0.942353,0.010650,0.020411,NaN
164841,2018,202,97.0,0.001464,7.280952e-10,0.942353,0.010650,0.020411,NaN
164842,2018,202,99.0,0.001464,0.000000e+00,0.942353,0.010650,0.020411,NaN

## train, test 나누기

In [29]:
train = ratings[ratings['label'].notnull()]
train.reset_index(drop=True, inplace=True)
train

,year,country_id,item_id,GDP,preference,GDP_growth,population,pop_growth,label
0,2013,0,10.0,0.000881,4.862752e-08,0.017864,0.022325,0.035276,1.0
1,2013,0,16.0,0.000881,6.321578e-07,0.017864,0.022325,0.035276,1.0
2,2013,0,19.0,0.000881,1.799218e-06,0.017864,0.022325,0.035276,0.0
3,2013,0,20.0,0.000881,4.862752e-08,0.017864,0.022325,0.035276,1.0
4,2013,0,21.0,0.000881,6.905108e-06,0.017864,0.022325,0.035276,1.0
...,...,...,...,...,...,...,...,...,...
105364,2021,202,87.0,0.001216,4.543334e-05,0.318998,0.011316,0.020668,1.0
105365,2021,202,90.0,0.001216,1.134952e-05,0.318998,0.011316,0.020668,0.0
105366,2021,202,94.0,0.001216,3.524696e-08,0.318998,0.011316,0.020668,1.0
105367,2021,202,95.0,0.001216,4.582105e-07,0.318998,0.011316,0.020668,0.0
105368,2021,202,96.0,0.001216,6.696923e-07,0.318998,0.011316,0.020668,0.0

In [30]:
# rating에서 diff가 null이 아닌 것들만 추출
test = ratings[ratings['label'].isnull()]
test.reset_index(drop=True, inplace=True)
test

,year,country_id,item_id,GDP,preference,GDP_growth,population,pop_growth,label
0,2013,0,1.0,0.000881,1.730195e-08,0.017864,0.022325,0.035276,NaN
1,2013,0,2.0,0.000881,1.115475e-07,0.017864,0.022325,0.035276,NaN
2,2013,0,3.0,0.000881,1.524764e-05,0.017864,0.022325,0.035276,NaN
3,2013,0,4.0,0.000881,3.985107e-07,0.017864,0.022325,0.035276,NaN
4,2013,0,5.0,0.000881,1.581240e-07,0.017864,0.022325,0.035276,NaN
...,...,...,...,...,...,...,...,...,...
59469,2018,202,89.0,0.001464,1.069936e-05,0.942353,0.010650,0.020411,NaN
59470,2018,202,91.0,0.001464,7.333262e-07,0.942353,0.010650,0.020411,NaN
59471,2018,202,92.0,0.001464,6.773078e-07,0.942353,0.010650,0.020411,NaN
59472,2018,202,97.0,0.001464,7.280952e-10,0.942353,0.010650,0.020411,NaN
59473,2018,202,99.0,0.001464,0.000000e+00,0.942353,0.010650,0.020411,NaN

In [31]:
# data 합치기 > encoding을 위해서
ratings = pd.concat([train, test])
ratings.reset_index(drop=True, inplace=True)
ratings

,year,country_id,item_id,GDP,preference,GDP_growth,population,pop_growth,label
0,2013,0,10.0,0.000881,4.862752e-08,0.017864,0.022325,0.035276,1.0
1,2013,0,16.0,0.000881,6.321578e-07,0.017864,0.022325,0.035276,1.0
2,2013,0,19.0,0.000881,1.799218e-06,0.017864,0.022325,0.035276,0.0
3,2013,0,20.0,0.000881,4.862752e-08,0.017864,0.022325,0.035276,1.0
4,2013,0,21.0,0.000881,6.905108e-06,0.017864,0.022325,0.035276,1.0
...,...,...,...,...,...,...,...,...,...
164838,2018,202,89.0,0.001464,1.069936e-05,0.942353,0.010650,0.020411,NaN
164839,2018,202,91.0,0.001464,7.333262e-07,0.942353,0.010650,0.020411,NaN
164840,2018,202,92.0,0.001464,6.773078e-07,0.942353,0.010650,0.020411,NaN
164841,2018,202,97.0,0.001464,7.280952e-10,0.942353,0.010650,0.020411,NaN
164842,2018,202,99.0,0.001464,0.000000e+00,0.942353,0.010650,0.020411,NaN

In [32]:
ratings.isnull().sum()

year              0
country_id        0
item_id           0
GDP               0
preference        0
GDP_growth        0
population        0
pop_growth        0
label         59474
dtype: int64

# encoding

In [34]:
# year encoding
year_dict = {}
for i in set(ratings['year']):
    year_dict[i] = len(year_dict)
n_year = len(year_dict)                  

# Country encoding
country_dict = {}
start_point = n_year                     
for i in set(ratings['country_id']):
    country_dict[i] = len(country_dict)
n_country = len(country_dict)            
start_point += n_country                 

# Item encoding
item_dict = {}
start_point = n_country                  
for i in set(ratings['item_id']):
    item_dict[i] = start_point + len(item_dict)
n_item = len(item_dict)                  
start_point += n_item       

# GDP
gdp_index = start_point
start_point += 1          

# preference encoding
pre_index = start_point
start_point += 1

# GDP_growth encoding   
gdp_growth_index = start_point
start_point += 1

# population encoding   
population_index = start_point
start_point += 1

# pop_growth encoding
pop_growth_index = start_point
start_point += 1

num_x = start_point

In [35]:
x = ratings

In [36]:
# Generate X data
data = []
y = []
for i in range(len(x)):
    case = x.iloc[i]
    x_index = []
    x_value = []
    x_index.append(year_dict[case['year']])        # year id one-hot encoding
    x_value.append(1.)                             # 있으면 1
    
    x_index.append(country_dict[case['country_id']])  # country id one-hot encoding
    x_value.append(1.)
    
    x_index.append(item_dict[case['item_id']])     # item id one-hot encoding
    x_value.append(1.)
    
    x_index.append(gdp_index)                       # GDP encoding  
    x_value.append(case['GDP'])
    
    x_index.append(pre_index)                   # preference  encoding
    x_value.append(case['preference'])
     
    x_index.append(gdp_growth_index)              # GDP_growth encoding
    x_value.append(case['GDP_growth'])
    
    x_index.append(population_index)            # population encoding
    x_value.append(case['population'])
    
    x_index.append(pop_growth_index)        # pop_growth encoding
    x_value.append(case['pop_growth'])
    
    data.append([x_index, x_value])                
    y.append(case['label'])                     
      
    if (i % 30000) == 0:                # 진행상황 확인
        print('Encoding ', i, ' cases...')

Encoding  0  cases...
Encoding  30000  cases...
Encoding  60000  cases...
Encoding  90000  cases...
Encoding  120000  cases...
Encoding  150000  cases...

In [37]:
# split 할 부분 찾기
idx = ratings[ratings['label'].notnull()].index[-1]
idx

105368

In [38]:
trainset = data[:idx+1]
testset = data[idx+1:]
y = y[:idx+1]

In [39]:
# 갯수확인
print(len(trainset))
print(len(testset))
print(len(y))

105369
59474
105369

# model

In [40]:
class FactorizationMachine():
    def __init__(self, N, K, data, y, test_data, lr, l2_reg, l2_lambda, epoch, early_stop_window, train_ratio=0.75):
        """
        :param k: number of latent vector
        :param lr: learning rate
        :param l2_reg: bool parameter for L2 regularization
        :param l2_lambda: lambda of L2 regularization
        :param epoch: training epoch
        """
        self._K = K
        self._N = N
        self._data = data
        self._y = y
        self._test_data = test_data
        self._lr = lr
        self._l2_reg = l2_reg
        self._l2_lambda = l2_lambda
        self._epoch = epoch
        self._early_stop_window = early_stop_window
        self._valid_loss_list = []
        # Train/Valid/Test 분리
        cutoff = int(train_ratio * len(data))
        self.train_x = data[:cutoff]
        self.valid_x = data[cutoff:]
        self.train_y = y[:cutoff]
        self.valid_y = y[cutoff:]
        self.test_x = test_data

    def _load_dataset(self):
        # init FM vectors
        self._init_vectors()
        print("Finish init FM vectors.")

    def _init_vectors(self):
        # w 초기화
        self.w = np.random.normal(scale=1./self._N, size=(self._N))          # 사이즈는 변수의 수 만큼
        # v 초기화
        self.v = np.random.normal(scale=1./self._K, size=(self._N, self._K))  # 사이즈는 (변수의 수 X K)
        self.train_x_data = []
        self.train_y_data = np.zeros((len(self.train_x)))
        self.valid_x_data = []
        self.valid_y_data = np.zeros((len(self.valid_x)))

        self.train_y_data = np.array(self.train_y)
        for n, row in enumerate(self.train_x):
            self.train_x_data.append([np.array(row[0]), np.array(row[1])])
        
        self.valid_y_data = np.array(self.valid_y)
        for n, row in enumerate(self.valid_x):
            self.valid_x_data.append([np.array(row[0]), np.array(row[1])])

    def train(self):
        """
        Train FM model by Gradient Descent with L2 regularization
        """
        self._load_dataset()
        for epoch_num in range(1, self._epoch):
            train_y_hat = self.predict(data=self.train_x_data)
            valid_y_hat = self.predict(data=self.valid_x_data)
            train_loss = self._get_loss(y_data=self.train_y_data, y_hat=train_y_hat)
            valid_loss = self._get_loss(y_data=self.valid_y_data, y_hat=valid_y_hat)
            train_auc = roc_auc_score(self.train_y_data, train_y_hat)
            valid_auc = roc_auc_score(self.valid_y_data, valid_y_hat)
            self._print_learning_info(epoch=epoch_num, train_loss=train_loss, valid_loss=valid_loss,
                                      train_auc=train_auc, valid_auc=valid_auc)
            if self._check_early_stop(valid_loss=valid_loss):
                print("Early stop at epoch:", epoch_num)
                return 0

            self._stochastic_gradient_descent(self.train_x_data, self.train_y_data)

    def predict(self, data):
        """
        Implementation of FM model's equation on O(kmd)

        -----
        Numpy array shape : (n, [index of md], [value of md])
        md : none-zero feature
        """  
        num_data = len(data)
        scores = np.zeros(num_data)
        for n in range(num_data):
            feat_idx = data[n][0]
            val = data[n][1]

            # linear feature score
            linear_feature_score = np.sum(self.w[feat_idx] * val)

            # factorized feature score
            vx = self.v[feat_idx] * (val.reshape(-1, 1))
            cross_sum = np.sum(vx, axis=0)
            square_sum = np.sum(vx * vx, axis=0)
            cross_feature_score = 0.5 * np.sum(np.square(cross_sum) - square_sum)

            # Model's equation
            scores[n] = linear_feature_score + cross_feature_score

        # Sigmoid transformation for binary classification
        scores = 1.0 / (1.0 + np.exp(-scores))
        return scores

    def inference(self, data):
        
        self.test_x_data = []
        for n, row in enumerate(self.test_x):
            self.test_x_data.append([np.array(row[0]), np.array(row[1])])

        num_data = len(data)
        scores = np.zeros(num_data)
        for n in range(num_data):
            feat_idx = data[n][0]
            val = np.array(data[n][1])

            # linear feature score
            linear_feature_score = np.sum(self.w[feat_idx] * val)

            # factorized feature score
            vx = self.v[feat_idx] * (val.reshape(-1, 1))
            cross_sum = np.sum(vx, axis=0)
            square_sum = np.sum(vx * vx, axis=0)
            cross_feature_score = 0.5 * np.sum(np.square(cross_sum) - square_sum)

            # Model's equation
            scores[n] = linear_feature_score + cross_feature_score

        # Sigmoid transformation for binary classification
        scores = 1.0 / (1.0 + np.exp(-scores))
        print(scores)
        return scores

    def _get_loss(self, y_data, y_hat):
        """
        Calculate loss with L2 regularization (two type of coeficient - w,v)
        """
        l2_norm = 0
        if self._l2_reg:
            w_norm = np.sqrt(np.sum(np.square(self.w)))
            v_norm = np.sqrt(np.sum(np.square(self.v)))
            l2_norm = self._l2_lambda * (w_norm + v_norm)
        return -1 * np.sum( (y_data * np.log(y_hat)) + ((1 - y_data) * np.log(1 - y_hat)) ) + l2_norm

    def _check_early_stop(self, valid_loss):
        self._valid_loss_list.append(valid_loss)
        if len(self._valid_loss_list) > 5:
            prev_loss = self._valid_loss_list[len(self._valid_loss_list) - self._early_stop_window]
            curr_loss = valid_loss
            if prev_loss < curr_loss:
                return True
        return False

    def _print_learning_info(self, epoch, train_loss, valid_loss, train_auc, valid_auc):
        print("epoch:", epoch, "||", "train_loss:", train_loss, "||", "valid_loss:", valid_loss,
              "||", "Train AUC:", train_auc, "||", "Test AUC:", valid_auc)

    def _stochastic_gradient_descent(self, x_data, y_data):
        """
        Update each coefs (w, v) by Gradient Descent
        """
        for data, y in zip(x_data, y_data):
            feat_idx = data[0]
            val = data[1]
            vx = self.v[feat_idx] * (val.reshape(-1, 1))

            # linear feature score
            linear_feature_score = np.sum(self.w[feat_idx] * val)

            # factorized feature score
            vx = self.v[feat_idx] * (val.reshape(-1, 1))
            cross_sum = np.sum(vx, axis=0)
            square_sum = np.sum(vx * vx, axis=0)
            cross_feature_score = 0.5 * np.sum(np.square(cross_sum) - square_sum)

            # Model's equation
            score = linear_feature_score + cross_feature_score
            y_hat = 1.0 / (1.0 + np.exp(-score))
            cost = y_hat - y

            if self._l2_reg:
                self.w[feat_idx] = self.w[feat_idx] - cost * self._lr * (val + self._l2_lambda * self.w[feat_idx])
                self.v[feat_idx] = self.v[feat_idx] - cost * self._lr * ((sum(vx) * (val.reshape(-1, 1)) - (vx * (val.reshape(-1, 1)))) + self._l2_lambda * self.v[feat_idx])
            else:
                self.w[feat_idx] = self.w[feat_idx] - cost * self._lr * val
                self.v[feat_idx] = self.v[feat_idx] - cost * self._lr * (sum(vx) * (val.reshape(-1, 1)) - (vx * (val.reshape(-1, 1))))

In [41]:
if __name__ == "__main__":
    fm = FactorizationMachine(N = num_x,
                              K=4,
                              data = trainset,
                              y = y,
                              test_data = testset,
                              lr=0.001,
                              l2_reg=True,
                              l2_lambda=0.0001,
                              epoch=200,
                              early_stop_window=3)

    fm.train()
    predict_proba = fm.inference(data=testset)

Finish init FM vectors.
epoch: 1 || train_loss: 55429.51038836349 || valid_loss: 18472.36749135191 || Train AUC: 0.502593761760897 || Test AUC: 0.48536481800655495
epoch: 2 || train_loss: 52480.38657098186 || valid_loss: 18093.347759920005 || Train AUC: 0.568650975582617 || Test AUC: 0.5385832929362261
epoch: 3 || train_loss: 51916.31684374609 || valid_loss: 17937.714030962157 || Train AUC: 0.5990756344282528 || Test AUC: 0.5670318394280589
epoch: 4 || train_loss: 51535.55465931422 || valid_loss: 17825.606838841675 || Train AUC: 0.61587787132271 || Test AUC: 0.5850087277180663
epoch: 5 || train_loss: 51257.240185151124 || valid_loss: 17742.386883329753 || Train AUC: 0.6258885103539096 || Test AUC: 0.5966999361394476
epoch: 6 || train_loss: 51043.45126163278 || valid_loss: 17679.655155579505 || Train AUC: 0.6323445127791956 || Test AUC: 0.604520565633004
epoch: 7 || train_loss: 50873.12604001753 || valid_loss: 17632.125897795297 || Train AUC: 0.6368330931276158 || Test AUC: 0.6098836722488528
epoch: 8 || train_loss: 50733.53853517182 || valid_loss: 17596.290488650277 || Train AUC: 0.6401658716363107 || Test AUC: 0.6136145262262609
epoch: 9 || train_loss: 50616.51133204702 || valid_loss: 17569.708196889755 || Train AUC: 0.6427684720566242 || Test AUC: 0.6162271768048249
epoch: 10 || train_loss: 50516.53369874053 || valid_loss: 17550.608967052092 || Train AUC: 0.6448942603500133 || Test AUC: 0.6180516770704287
epoch: 11 || train_loss: 50429.74272905596 || valid_loss: 17537.659459440096 || Train AUC: 0.6466917926559907 || Test AUC: 0.6192683773129846
epoch: 12 || train_loss: 50353.33851478668 || valid_loss: 17529.820357006283 || Train AUC: 0.6482526645664344 || Test AUC: 0.620047345667191
epoch: 13 || train_loss: 50285.23346183832 || valid_loss: 17526.2569693112 || Train AUC: 0.6496371274443944 || Test AUC: 0.620471693782647
epoch: 14 || train_loss: 50223.83417421933 || valid_loss: 17526.28186504635 || Train AUC: 0.6508842780816069 || Test AUC: 0.6206257446954789
epoch: 15 || train_loss: 50167.90123067512 || valid_loss: 17529.3171892155 || Train AUC: 0.6520345726508641 || Test AUC: 0.6205647189046031
Early stop at epoch: 15
[0.17634949 0.23158354 0.36231452 ... 0.2889152  0.24570473 0.14013589]

In [42]:
predict_proba

array([0.17634949, 0.23158354, 0.36231452, ..., 0.2889152 , 0.24570473,
       0.14013589])

# predict_proba

In [43]:
a = list(predict_proba)

In [44]:
len(a)

59474

In [45]:
test.drop(['label'], axis=1, inplace=True)

/var/folders/bz/yk1btxt17y920gj06j1__cy00000gn/T/ipykernel_41614/3233372322.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test.drop(['label'], axis=1, inplace=True)

In [46]:
test['predict_proba'] = a
test

/var/folders/bz/yk1btxt17y920gj06j1__cy00000gn/T/ipykernel_41614/3906817452.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['predict_proba'] = a

,year,country_id,item_id,GDP,preference,GDP_growth,population,pop_growth,predict_proba
0,2013,0,1.0,0.000881,1.730195e-08,0.017864,0.022325,0.035276,0.176349
1,2013,0,2.0,0.000881,1.115475e-07,0.017864,0.022325,0.035276,0.231584
2,2013,0,3.0,0.000881,1.524764e-05,0.017864,0.022325,0.035276,0.362315
3,2013,0,4.0,0.000881,3.985107e-07,0.017864,0.022325,0.035276,0.157590
4,2013,0,5.0,0.000881,1.581240e-07,0.017864,0.022325,0.035276,0.164883
...,...,...,...,...,...,...,...,...,...
59469,2018,202,89.0,0.001464,1.069936e-05,0.942353,0.010650,0.020411,0.231371
59470,2018,202,91.0,0.001464,7.333262e-07,0.942353,0.010650,0.020411,0.280310
59471,2018,202,92.0,0.001464,6.773078e-07,0.942353,0.010650,0.020411,0.288915
59472,2018,202,97.0,0.001464,7.280952e-10,0.942353,0.010650,0.020411,0.245705
59473,2018,202,99.0,0.001464,0.000000e+00,0.942353,0.010650,0.020411,0.140136

In [47]:
test.to_csv('../processed/FM_base.csv', index=False)

In [48]:
result_13_18 = test

# 성능평가 : precision

In [49]:
# country를 index로 바꾼 pickle 파일을 불러오기.
with open('../processed/new_exp_3years.pkl', 'rb') as f:
    new_exp_3years = pickle.load(f)

In [50]:
# precision 함수로 만들기
def FM_precision(country, current_year, new_exp_Nyears, proba_threshold):
    c_items = new_exp_Nyears[(idx_to_country[country], current_year)] # 원래 수출 없다가 향후 N년 내에 수출한 item
    rec_13_18 = result_13_18[result_13_18['predict_proba'] > proba_threshold]
    rec_items = rec_13_18[rec_13_18['country_id']==country].query('year==@current_year').item_id.tolist() # 추천 item
    hit_items = [i for i in c_items if i in rec_items]
    if len(rec_items) == 0:
        if len(c_items) == 0:
            precision = 1
        else:
            precision = 0
    else:
        precision = len(hit_items) / len(rec_items) # 추천한 item 중에서 몇개를 실제로 수출했는지
    return precision

# 해당년도 모든 나라에 대해서 precision 계산
def FM_precision_year(year, new_exp_Nyears, proba_threshold=0.5):
    precision = []
    c_len = len(idx_to_country)
    for country in range(0, c_len):
        precision.append(FM_precision(country, year, new_exp_Nyears, proba_threshold))
    return sum(precision) / c_len

# 전체 데이터에 대해서 precision 계산
def FM_precision_all(proba_threshold=0.5):
    precision = []
    c_len = len(idx_to_country) # 국가 수
    years = range(2013, 2019)
    for country in range(0, c_len):
        for year in years:
                precision.append(FM_precision(country, year, new_exp_3years, proba_threshold))
    return sum(precision) / (c_len*len(years))

In [51]:
# recall 함수로 만들기
def FM_recall(country, current_year, new_exp_Nyears, proba_threshold):
    c_items = new_exp_Nyears[(idx_to_country[country], current_year)]  # 원래 수출 없다가 향후 N년 내에 수출한 item
    rec_13_18 = result_13_18[result_13_18['predict_proba'] > proba_threshold]  
    rec_items = rec_13_18[rec_13_18['country_id']==country].query('year==@current_year').item_id.tolist() 
    hit_items = [i for i in c_items if i in rec_items] # 추천한 item 중에서 실제로 수출한 item
    if len(c_items) == 0:
        if len(rec_items) == 0:
            recall = 1
        else:
            recall = 0
    else:
        recall = len(hit_items) / len(c_items) # 전체 수출한 item 중에서 몇개를 추천했는지
    return recall

# 해당년도 모든 나라에 대해서 recall 계산
def FM_recall_year(year, new_exp_Nyears, proba_threshold=0.5):
    recall = []
    c_len = len(idx_to_country)
    cnt = 0
    for country in range(0, c_len):
        recall.append(FM_recall(country, year, new_exp_Nyears, proba_threshold))
    return sum(recall) / c_len

# 전체 데이터에 대해서 recall 계산
def FM_recall_all(proba_threshold=0.5):
    recall = []
    c_len = len(idx_to_country)  # 국가 수
    years = range(2013, 2019)
    for country in range(0, c_len):
        for year in years:
            recall.append(FM_recall(country, year, new_exp_3years, proba_threshold))

    return sum(recall) / (c_len*len(years))

In [52]:
def FM_f1_score(country, current_year, new_exp_Nyears, proba_threshold):
    precision = FM_precision(country, current_year, new_exp_Nyears, proba_threshold)
    recall = FM_recall(country, current_year, new_exp_Nyears, proba_threshold)
    if precision == 0 and recall == 0:
        f1_score = 0
    else:
        f1_score = 2 * (precision * recall) / (precision + recall)
    return f1_score

def FM_f1_score_all(proba_threshold=0.5):
    f1_score = []
    c_len = len(idx_to_country)  # 국가 수
    years = range(2013, 2019)
    for country in range(0, c_len):
        for year in years:
            f1_score.append(FM_f1_score(country, year, new_exp_3years, proba_threshold))
    return sum(f1_score) / (c_len * len(years))

In [53]:
def get_best_combination(metric):
    best_score = 0
    best_thres = 0
    for thres in tqdm(np.arange(0.1,0.9, 0.01)):
        score = metric(thres)
        if score >= best_score:
            best_score = score
            best_thres = thres
    return best_score, best_thres

In [54]:
get_best_combination(FM_precision_all)

100%|██████████| 80/80 [01:29<00:00,  1.12s/it]

(0.4595309695956066, 0.3599999999999999)

In [55]:
get_best_combination(FM_recall_all)

100%|██████████| 80/80 [01:30<00:00,  1.13s/it]

(0.9811165845648604, 0.1)

In [56]:
get_best_combination(FM_f1_score_all)

100%|██████████| 80/80 [03:00<00:00,  2.25s/it]

(0.4601181286036197, 0.2699999999999999)

In [58]:
FM_precision_all(0.2699999999999999)

0.36889843050449495

# 결과 보기

In [59]:
country = 54
current_year = 2018
proba_threshold = 0.38999999999999985

print('pricision : ', FM_precision(country, current_year, new_exp_3years, proba_threshold))


print('국가 : ',idx_to_country[country])

#정답 리스트
c_items = new_exp_3years[(idx_to_country[country], current_year)]
print('정답 : ',c_items)


# 추천한 리스트
rec_13_18 = result_13_18[result_13_18['predict_proba'] > proba_threshold]  
rec_items = rec_13_18[rec_13_18['country_id']==country].query('year==@current_year').item_id.tolist()
print('추천 : ',rec_items)

pricision :  1.0
국가 :  Ecuador
정답 :  [1.0, 65.0, 9.0, 44.0, 13.0, 15.0, 16.0, 17.0, 47.0, 79.0, 20.0, 53.0, 31.0]
추천 :  [20.0]

In [60]:
item_name = pd.read_csv('../processed/item_name-code.csv')
item_name.query('품목코드 == 1.0')

        품목명  품목코드
0  살아 있는 동물   1.0

In [61]:
country = 72
current_year = 2018
proba_threshold = 0.38999999999999985

print('pricision : ', FM_precision(country, current_year, new_exp_3years, proba_threshold))


print('국가 : ',idx_to_country[country])

#정답 리스트
c_items = new_exp_3years[(idx_to_country[country], current_year)]
print('정답 : ',c_items)


# 추천한 리스트
rec_13_18 = result_13_18[result_13_18['predict_proba'] > proba_threshold]  
rec_items = rec_13_18[rec_13_18['country_id']==country].query('year==@current_year').item_id.tolist()
print('추천 : ',rec_items)

pricision :  0.16666666666666666
국가 :  Greenland
정답 :  [33.0, 85.0]
추천 :  [19.0, 27.0, 30.0, 33.0, 38.0, 90.0]

In [62]:
i = country_to_idx['Thailand']
country = i
current_year = 2017
proba_threshold = 0.38999999999999985

print('pricision : ', FM_precision(country, current_year, new_exp_3years, proba_threshold))


print('국가 : ',idx_to_country[country])

#정답 리스트
c_items = new_exp_3years[(idx_to_country[country], current_year)]
print('정답 : ',c_items)


# 추천한 리스트
rec_13_18 = result_13_18[result_13_18['predict_proba'] > proba_threshold]  
rec_items = rec_13_18[rec_13_18['country_id']==country].query('year==@current_year').item_id.tolist()
print('추천 : ',rec_items)

pricision :  0.0
국가 :  Thailand
정답 :  [43.0, 46.0]
추천 :  [45.0]